body{
	background-color: #303030;
}
header{
	width: 100%;
	height: 100px;
	min-height: 100px;
	background-image: url('https://media.giphy.com/media/11tsh60hFpCGwo/giphy.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #eee;
	border-bottom: solid 4px #FFC234;
	box-shadow: 3px 4px 2px 0.5px rgba(0,0,0,.2);
}
.mask{
	height: 100%;
	background-color: rgba(42, 44, 44, 0.9);
}
header h1{
	margin: 0;
	height: 100px;
	padding: 25px;
	text-align: center;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
}