<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
	<title>{% block page_title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-flex.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Baloo+Tamma|Lato:700,900
" rel="stylesheet" media="all">
</head>
<body>
<header>
	<div class="mask">
		<div id="menu-container">
      <nav id="navMenu" class="navbar-toggleable-xs navbar navbar-light collapse">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-10 offset-md-0">
							<ul class="nav navbar-nav menu">
								<li class="nav-item text-xs-center dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Project</a>
									<ul class="dropdown-menu subMenuHead">
										<li><a href="{% url "planetary" %}">Planetary</a></li>
									</ul>
								</li>
								<li class="nav-item text-xs-center dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tutorials</a>
									<ul class="dropdown-menu subMenuHead">
										<li><a href="{% url "astronomy" %}">Astronomía</a></li>
										<li><a href="{% url "astrophotography" %}">Astrofotografía</a></li>
									</ul>
								</li>
								<li class="nav-item text-xs-center dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Photo/Prints</a>
									<ul class="dropdown-menu subMenuHead">
										<li><a href="{% url "prints" %}">Prints</a></li>
										<li><a href="{% url "deep_sky" %}">Deep Sky</a></li>
										<li><a href="{% url "planetary" %}">Planetary</a></li>
										<li><a href="{% url "wield_field" %}">Wield Field</a></li>
										<li><a href="{% url "landscape" %}">Landscape</a></li>
									</ul>
								</li>
								<li class="nav-item text-xs-center">
									<a href="{% url "service" %}" class="nav-link">Services</a>
								</li>
								<li class="nav-item text-xs-center">
									<a href="{% url "contact" %}" class="nav-link">Contact</a>
								</li>
							</ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
	</div>
</header>
<section>
	{% block content %}
	{% endblock %}
</section>
<footer>

</footer>
<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
